<ion-content>
  <div class="logo">
    <img
      src="https://i.postimg.cc/VsxjV4dn/Logo-1-1.png"
      alt="logo-app-1.png"
    />
    <p>STUDY ON</p>
  </div>
  <ion-title> Conteúdos </ion-title>
  <ion-slides [options]="option" class="ion-carousel">
    <ion-slide>
      <ion-card>
        <img
          src="https://raw.githubusercontent.com/marianaamora/Imagens/main/Frame%201.png"
          alt=""
        />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img
          src="https://raw.githubusercontent.com/marianaamora/Imagens/main/Frame%202.png"
          alt=""
        />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img
          src="https://raw.githubusercontent.com/marianaamora/Imagens/main/Frame%203.png"
          alt=""
        />
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-list lines="none" class="custom-background">
    <ion-list-header>
      <ion-title>O que deseja fazer hoje?</ion-title>
    </ion-list-header>
    <ion-item>
      <ion-button fill="outline" size="large">Simulados</ion-button>
    </ion-item>
    <ion-item>
      <ion-button fill="outline" size="large">Videoaulas</ion-button>
    </ion-item>
    <ion-item>
      <ion-button fill="outline" size="large">Exercícios</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
